/* You can add global styles to this file, and also import other style files */

// ./node_modules/primeng/resources/themes/fluent-light/theme.css
// ./node_modules/primeng/resources/themes/md-light-deeppurple/theme.css

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, body, html * {
  font-family: 'Roboto', sans-serif;
}

html, body, .full-height {
  height: 100%;
}

body {
  margin: 0;
}

.requires-javascript {
  color: #11100f;
  margin: 2rem;
  cursor: default;
}

.p-blockui-document {
  z-index: 99999 !important;
}

h1.title {
  display: flex;
  justify-content: space-between;
}

.required:after {
  content: ' *';
  color: tomato;
}

// Legend Active + Inactive
tr.active, div.item-active {
  background-color: #E8F6F0 !important;

  &:nth-child(even) {
    background-color: #DBE7E1 !important;
  }

  &.selected {
    font-weight: bold;
    background-color: #F6FAF8 !important;
  }
}

tr.inactive, div.item-inactive {
  background-color: #FAE7E7 !important;

  &:nth-child(even) {
    background-color: #ECDBDB !important;
  }

  &.selected {
    font-weight: bold;
    background-color: #FDF7F7 !important;
  }
}

.cursor-default {
  cursor: default;
}
